 * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }
  a {
   display: flex;
   color: white;
   list-style: none;
   text-decoration: underline;
  }
  .navbarLi {
   list-style: none;
   text-decoration: none;
  }