.background-image {
  height: 440px;
}

.content-holder h2 {
  letter-spacing: 1.6px;
  font-size: 52px;
  font-weight: 800
}

.content-holder {
  max-width: 870px;
  margin-top: 13% ;
}


@media screen and (max-width: 1360px) {
  .content-holder {
    max-width: 870px;
    margin: 13% auto;
  }
  
}

@media screen and (max-width: 1000px) {
  .content-holder {
    max-width: 870px; 
    margin: 13% ;
  }
  
}

@media screen and (max-width: 768px) {
  .background-image {
    height: 500px;
  }

  .button-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .content-holder {
    margin-top: 20px;
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
  }

  .content-holder h2 {
    margin-top: 160px;
    font-size: 40px;
  }

  .font-size-14 {
    font-size: 16px;
  }
}


@media screen and (max-width: 480px) {
  .content-holder {
    margin-top: 20%;
  }
  
  .content-holder h2 {
    margin-top: 20px;
    font-size: 28px;
  }

  .font-size-14 {
    font-size: 14px;
  }
}