body.dark {
    background-color: #202c37;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
  }
  
  header.dark {
    background-color: #2b3945;
  }
  
  .input.dark, 
  #selectFilter.dark {
    background-color: #2b3945;
    color: #ffffff;
    box-shadow:0 7px 29px 0 rgba(100, 100, 111, .2);
  }
  
  .input.dark::placeholder {
    color: #aaaaaa;
  }
  
  .textHolder i {
    font-size: 18px;
  }
  .cardHolder.dark {
    background-color: #2b3945;
    color: #ffffff;
    box-shadow: 0 7px 29px 0 rgba(100, 100, 111, .2);
  }
  .textHolder .darkMode {
    margin-left: 10px;
    font-weight: 600;
    cursor: pointer;
  }