.button {
    max-width: 120px;
    max-height: 40px;
    background: rgb(37, 119, 253);
    border-radius: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 12px;
}
.sign-in-btn {
    border-radius: 12px;
    padding: 0;
    padding: 4px 32px;
    max-height: 45px;
    height: 100%;
    color: black;
}