html {
  scroll-behavior: smooth;
}
#root{
    --primary-color: #222222;
    --secondary-color: #1565C0 ;
    font-family: "Poppins", serif;
    background-color: var(--primary-color);
    button:active {
    transform: scale(0.93);
  }
}

::-webkit-scrollbar {
    display: none;
}


